html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.body {
  background-color: #2c2141;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  background-color: #f8f8f8;
  border-radius: 16px;
  align-self: center;
  max-width: 624px;
}
.hero {
  padding: 32px;
  display: flex;

}
.hero__description {
  font-size: 16px;
  margin: 0;
  line-height: 22px;
}
.hero__description--margin-bottom {
  margin-bottom: 22px;
}
.hero__header {
  margin-bottom: 24px;
}
.hero__image {
  margin-right: 32px;
  align-self: flex-start;
}
.hero__link {
  color: #e20613;
  text-decoration: none;
}
.hero__name {
  color: #000000;
  margin: 0;
  font-size: 36px;
  font-weight: normal;
}
.hero__position {
  color: #545454;
  margin: 0;
  font-size: 18px;
  font-style: italic;
}
.color-text {
  color: #ed6d05;
  font-weight: normal;
}
