.body{
    background-color: #2C2141;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 16px;
}

.main{
    background-color: #F8F8F8;
    border-radius: 16px;
    align-self: center;
    max-width: 624px;
}
.hero{
    margin: 32px;
}